{% extends "::base.html.twig" %}

{% block title %}IncentivesRedencionesBundle:OrdenRedencion:listado{% endblock %}

{% block body %}
<h1>Welcome to the OrdenRedencion:listado page</h1>
{% endblock %}
