{% extends "::base.html.twig" %}

{% block title %}IncentivesRedencionesBundle:OrdenRedencion:generar{% endblock %}

{% block body %}
<h1>Welcome to the OrdenRedencion:generar page</h1>
{% endblock %}
